<!DOCTYPE html>
<html>
    <body>
        <p>
            Hello {{first_name}},
        </p>
        <p>
            The {{election_name}} will be held on {{date}}.
        </p>
        <p>
            Happy voting!
            <br>
            –
            The Long Distance Voter Team

        </p>
        <p>
            <a href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url=https%3A%2F%2Fvotebymail.longdistancevoter.org&pubid=ra-5366b74644ef5ad2&ct=1&title=Get%20your%20absentee%20ballot%20%2F%2F%20Sign%20up%20to%20vote-by-mail&pco=tbxnj-1.0" target="_blank">
                <img alt="Facebook" border="0" src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/facebook.png">
            </a>
            <a href="https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url=https%3A%2F%2Fvotebymail.longdistancevoter.org&pubid=ra-5366b74644ef5ad2&ct=1&title=Get%20your%20absentee%20ballot%20%2F%2F%20Sign%20up%20to%20vote-by-mail&pco=tbxnj-1.0" target="_blank">
                <img alt="Twitter" border="0" src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/twitter.png">
            </a>
            <a href="https://api.addthis.com/oexchange/0.8/forward/email/offer?url=https%3A%2F%2Fvotebymail.longdistancevoter.org&pubid=ra-5366b74644ef5ad2&ct=1&title=Get%20your%20absentee%20ballot%20%2F%2F%20Sign%20up%20to%20vote-by-mail&pco=tbxnj-1.0" target="_blank">
                <img alt="Email" border="0" src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/email.png">
            </a>
            <a href="https://www.addthis.com/bookmark.php?source=tbx32nj-1.0&v=300&url=https%3A%2F%2Fvotebymail.longdistancevoter.org&pubid=ra-5366b74644ef5ad2&ct=1&title=Get%20your%20absentee%20ballot%20%2F%2F%20Sign%20up%20to%20vote-by-mail&pco=tbxnj-1.0" target="_blank">
                <img alt="Addthis" border="0" src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/addthis.png">
            </a>
        </p>
    </body>
</html>
