<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <div style="padding: 45px 15px 15px;">
            <form action="" method="post">
                {% csrf_token %}
                <p>
                    Would you like to unsubscribe from electionreminders.org emails?
                </p>

                {% if form.is_bound %}
                {% if form.instance.unsubscribed %}
                <div class="alert alert-warning" role="alert">
                    <strong>Sad to see you go!</strong> Your email address is now unsubscribed from future election reminders.
                </div>
                {% else %}
                <div class="alert alert-success" role="alert">
                    <strong>Success!</strong> Your email address is now subscribed from future election reminders.
                </div>
                {% endif %}
                {% endif %}
                <div class="checkbox">
                    <label>
                        {{ form.unsubscribed }}
                        Yes, I want to unsubscribe.
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </body>
</html>
